/* 
## Colors
### Primary
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography
### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
Font size: 15px
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Orange: hsl(31, 77%, 52%);
    --Cyan: hsl(184, 100%, 22%);
    --DarkCyan: hsl(179, 100%, 13%);
    --White: hsla(0, 0%, 100%, 0.75);
    --Gray: hsl(0, 0%, 95%);

    --FontH: 2.5rem 'Big Shoulders Display', cursive;
    --FontP: 0.9375rem/1.7 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

img {
    display: block;
    width: auto;
    height: 100%;
}

h1 {
    font: var(--FontH);
    color: var(--Gray);
    margin: .75em auto;
    text-transform: uppercase;
}

p {
    font: var(--FontP);
    color: var(--White);
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20% auto;
}

.card-stack {
    width: 20em;
}

.card {
    padding: 3em;
    color: var(--White);
}

.card1 {
    --ParentBG: var(--Orange);
    background-color: var(--ParentBG);
    border-radius: 8px 8px 0 0;
}

.card2 {
    --ParentBG: var(--Cyan);
    background-color: var(--ParentBG);
}

.card3 {
    --ParentBG: var(--DarkCyan);
    background-color: var(--ParentBG);
    border-radius: 0 0 8px 8px;
}

button {
    background-color: var(--Gray);
    color: var(--ParentBG);
    font: var(--FontP);
    border-radius: 60px;
    margin: 1em auto 1em;
    padding: .75em 2em;
    border: none;
}