/* 
## Colors
### Primary
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography
### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
Font size: 15px
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --primaryOrange: hsl(31, 77%, 52%);
    --primaryCyan: hsl(184, 100%, 22%);
    --primaryDarkCyan: hsl(179, 100%, 13%);
    --neutral100: hsla(0, 0%, 100%, 0.75);
    --neutral200: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

img {
    display: block;
    width: auto;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-stack {
    border-radius: 8px;
    width: 80%;
    overflow: hidden;
}

.card1 {
    background-color: var(--primaryOrange);
}

.card2 {
    background-color: var(--primaryCyan);
}

.card3 {
    background-color: var(--primaryDarkCyan);
}