/* 
## Colors
### Primary
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography
### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
Font size: 15px
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Orange: hsl(31, 77%, 52%);
    --Cyan: hsl(184, 100%, 22%);
    --DarkCyan: hsl(179, 100%, 13%);
    --White: hsla(0, 0%, 100%, 0.75);
    --Gray: hsl(0, 0%, 95%);

    --FontH: 2.5rem 'Big Shoulders Display', cursive;
    --FontP: 0.9375rem/1.7 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

img {
    display: block;
}

h1 {
    font: var(--FontH);
    color: var(--Gray);
    margin-top: .75em;
    text-transform: uppercase;
}

p {
    font: var(--FontP);
    color: var(--White);
    margin-top: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5em;
}

.card-stack {
    min-width: 20.375em;
    border-radius: 8px;
    overflow: hidden;
}

.card {
    padding: 3em;
    min-height: 27.62em;
    max-width: 20.375em;
    color: var(--White);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card1 {
    --ParentBG: var(--Orange);
    background-color: var(--ParentBG);
}

.card2 {
    --ParentBG: var(--Cyan);
    background-color: var(--ParentBG);
}

.card3 {
    --ParentBG: var(--DarkCyan);
    background-color: var(--ParentBG);
}

button {
    background-color: var(--Gray);
    color: var(--ParentBG);
    font: var(--FontP);
    border-radius: 60px;
    height: 3.2em;
    width: 9em;
    border: 2px solid var(--Gray);
    margin-top: auto;

}

button:hover {
    background-color: var(--ParentBG);
    color: var(--Gray);
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
        .container {
            height: 100%;
        }
        .card-stack {
            max-width: 57.5em;
            min-height: 31.25em;
            display: grid;
            grid-template: 1fr / 1fr 1fr 1fr;
        }    
        p {margin-top: 2.5em;}
}